#logo {
    margin-bottom: 30px;
}
#content {
    text-align: center;
    border: 1px solid #ccc;
    padding-bottom: 5px;
}

body {
    font-family: sans-serif;
    font-size: 110%;
}

#content a {
    color: #00687F;
    outline: none;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

