{% extends "base.html" %}
{% import "forms.html" as forms %}
{% block title %}Volunteer Application{% endblock %}
{% block content %}
<h1>Volunteer Application</h1>
<form method="POST">
  <p>
  <label for="former_names">Former Name(s) (please list any previous names, i.e. maiden or birth names):</label><br />
  <textarea rows="2" cols="70" name="former_names">{{user.application.former_names|e}}</textarea>
  </p>
  <p>
  <label for="experience">Volunteer Experience: Please Explain:</label><br />
  <textarea rows="4" cols="70" name="experience">{{user.application.experience|e}}</textarea>
  </p>
  <p>
  <label for="skills">Special Skills (Please Explain):</label><br />
  <textarea rows="4" cols="70" name="skills">{{user.application.skills|e}}</textarea>
  </p>
  <p>
  <label for="involvement">Other Involvement: Please list all of your activities and the average time commitment per week (i.e. Soccer 3hr/wk)</label><br />
  <textarea rows="4" cols="70" name="involvement">{{user.application.involvement|e}}</textarea>
  </p>
  <p>
  <label for="why">Why are you interested in volunteering with BounceBack Kids?</label><br />
  <textarea rows="4" cols="70" name="why">{{user.application.why|e}}</textarea>
  </p>
  <p>
  <label for="how">How did you hear about this volunteer opportunity?:</label><br />
  <textarea rows="4" cols="70" name="how">{{user.application.how|e}}</textarea>
  </p>

  <h3>References</h3>
  {% for ref in references %}
  {%- set i = ref.id %}
  <fieldset>
  <label for="reference_name[{{i}}]">Name:</label><input type="text" name="reference_name[{{i}}]" value="{{ref.name|e}}" /><br />
  Address<br />
  {{forms.address(ref.address, "reference_", i)}}<br />
  <label for="reference_phone[{{i}}]">Phone:</label><input type="text" name="reference_phone[{{i}}]" value="{{ref.phone|e}}" /><br />
  <label for="reference_email[{{i}}]">Email:</label><input type="text" name="reference_email[{{i}}]" value="{{ref.email|e}}" /><br />
  </fieldset>
  {%- endfor %}
  <p>
  <input type="submit" name="s" value="Save" /><input type="submit" name="s" value="Submit" />
  </p>
</form>
{% endblock %}
