<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{% block title %}Bounce Back Kids{% endblock %}</title>
    <script type="text/javascript" src="/static/javascript/prototype.js"></script>
    <style type="text/css">
      #login_bar{
        background-color: #00687F;
        color: white;
        text-align: right;
      }
      #login_bar a {
        color: white;
      }
      #admin_nav{
        float: left;
      }
      #user_nav {
        float: left;
      }
      #message {
        color: red;
        font-size: 150%;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="login_bar">
      <span id = "admin_nav">
	{% if user.status == "admin" %}
	<a href = "/admin/">Admin Home</a>
	{% endif %}
      </span>
      <span id = "user_nav">
	{% if user.status == "active" %}
	<a href = "/events/user/">My upcoming events</a>
	<a href = "/events/">Events Calendar</a>
	{% endif %}
      </span>
      <span id = "login_info">
	{%- if user %}
	{{user.first_name|e}} {{user.last_name|e}} | <a href="/logout/">Log Out</a>
	{%- else %}
	<a href="/login/">Log In</a>
	{%- endif %}
      </span>
    </div>
    {%- block content %}{% endblock %}
  </body>
</html>
