<html>
<head>
  <script type="text/javascript" src="/javascript/calendar_date_select/calendar_date_select.js"></script>
</head>
<body>
  <p><label>Title: <input name="title" type="text" /></label></p>
  <p>
    <label>Event Start: <input id="start" image="calendar_date_select/calendar.gif" name="start" type="text" /></label>
    <img alt="Calendar" onclick="new CalendarDateSelect( $('start'), {time:true} );" src="/static/images/calendar.gif" style="border:0px; cursor:pointer;" />
  </p>
  <p>
    <label>Event End: <input id="end" image="calendar_date_select/calendar.gif" name="end" type="text" /></label>
    <img alt="Calendar" onclick="new CalendarDateSelect( $('start'), {time:true} );" src="/static/images/calendar.gif" style="border:0px; cursor:pointer;" />
  </p>
  <p><input type="submit" value="Submit" /></p>
</body>
</html>
