{% extends "base.html" %}
{% block title %}Bounce Back Kids -- Editing Event{% endblock %}
{% block content %}
  <h2>{{event.title}} Details <a href = "/event/{{event.id}}/edit">Edit event</a></h2>
   <ul>
    <li>{{ event.title }}</li>
    <li>{{ event.description }}</li>
    <li>{{ event.start }}</li>
    <li>{{ event.end }}</li>
   </ul>
  List of volunteers ({{length}} of {{event.max_volunteers}} maximum):   
   <ul>
   {% for volunteer in event_volunteers %}
    <li> {{volunteer.first_name + " " +  volunteer.last_name}}</li>
   {% endfor %}
   </ul>
  
  <a href  = "/events/admin">Back to events page</a>
{%- endblock %}
