{% extends "base.html" %}
{%- block title %}Bounce Back Kids Event {{event.title|e}}{% endblock %}
{%- block content %}
  <h2>{{event.title|e}} Details</h2>
  <ul>
  <li>{{ event.title|e }}</li>
  <li>{{ event.description|e }}</li>
  <li>{{ event.start|e }}</li>
  <li>{{ event.end|e }}</li>
  </ul>
{%- if user and not signup and not max_full %}
  <form method="POST">
  <input type="submit" name="signup" value="Sign Up for Event" />
  </form>
{%- endif %}
{%- if user and signup %}
	<p>You are signed-up for this event.</p>
{%- endif %}
{% if user and max_full and not signup %}
{{"Sorry this event is at capacity for volunteers. Please look at our calendar for more opportunities."}}
{{"<br/>"}}
{% endif %}
  <br/><a href = "/events/">Back to events</a>
{%- endblock %}
