{% extends "base.html" %}
{% block title %}Bounce Back Kids -- Editing Event{% endblock %}
{% block content %}
  <h2>{{event.title|e}} Details <a href = "/event/{{event.id}}/edit">Edit event</a></h2>
  <p>Start: {{ event.start|dt }}<br />
  End: {{ event.end|dt }}</p>
  <p>{{ event.description|br }}</p>
  List of volunteers ({{length}} of {{event.max_volunteers}} maximum):   
   <ul>
   {% for volunteer in event_volunteers %}
    <li> {{volunteer.first_name + " " +  volunteer.last_name}}</li>
   {% endfor %}
   </ul>
  
  <a href  = "/events/admin">Back to events page</a>
{%- endblock %}
