{% extends "base.html" %}
{% block title %}Bounce Back Kids -- Create An Event{% endblock %}
{% block content %}
  <h2>Create an Event</h2>
    <form method="POST">
      <p>
      <label>Title: <input type="text" name="title" /></label><br />
      <label>Description: <input type="text" name="description" /></label><br />
      <label>Event Start Time: <input type="text" name="start" /></label><br />
      <label>Event End Time: <input type="text" name="end" /></label><br />
      <input type="submit" value="Create Event" />
      </p>
    </form>
    <a href  = "/events/admin">Back to events page</a>
{%- endblock %}
