{% extends "base.html" %}
{% block title %}Bounce Back Kids -- Edit Event{% endblock %}
{% block content %}
  <h2>Edit {{event.title|e}} </h2>
    <form method="POST">
      <p>
      <label>Title: <input type="text" name="title" value="{{event.title|e}}" /></label><br />
      <label>Description: <input type="text" name="description" value="{{event.description|e}}" /></label><br />
      <label>Event Start Time: <input type="text" name="start" value="{{event.start|e}}" /></label><br />
      <label>Event End Time: <input type="text" name="end" value="{{event.end|e}}" /></label><br />
      <label>Maximum number of volunteers: <input type="text" name="max_volunteers" value="{{event.max_volunteers|e}}"/></label><br/>
      <input type="submit" value="Edit Event"/>
      </p>
    </form>
    <a href = "/event/admin/{{event.id}}/">Back to event details</a>
{%- endblock %}
