{% extends 'base.html' %}
{% block title %}BounceBack Kids -- Frequently Asked Questions{% endblock %}
{% block content %}
<h2>Frequently Asked Questions</h2>
<h3>How Do I Become A Volunteer?</h3>
<p>Go to <a href="/volunteer_signup/">the sign-up page</a>. Fill in your name, email, and phone and set a password. This will take you to the application. Fill out this application. You can save at any time by pressing the "Save" button at the bottom of the page. When you are finished, click the "Submit" button. You will be given a link to a PDF file. Print this file, read it, and sign where appropriate. You will be contacted via email when your application is accepted.</p>
<h3>How Do I Sign Up For An Event?</h3>
<p>Log in and go to the <a href="/events/">events list</a>. Click on an event. If you want to sign up for this event, just click "Sign Up For Event" at the bottom of the page.</p>
<h3>How Do I See Which Events I am Signed Up For?</h3>
<p>Log in and click on "My Upcoming Events" on the top left of the screen.</p>
<h3>How Do I Add BounceBack Kids Events to My Calendar?</h3>
<p>Got to <a href="/events/">the events</a> page. If you are using Google Calendar, click on the Google Calendar button. If you are using a calendar application on your computer, click the "calendar program" link.</p>
<h3>How Do I Change My Account Information or My Password?</h3>
<p>Log in and then click on "Account" on the top left of the screen. Here you can change your name and phone number. If you want change your password, type a new password into the "New Password" and the "Confirm Password" fields. If you do not want to change your password, leave these fields blank.</p>
<h3>I Forgot My Password</h3>
<p>Go <a href="/reset/">here</a>. Type in your email and then hit "Reset". A new password will be sent to your email account. Log in using this password (it is case-sensitive). You can then change your password to anything you want by going to "Account" on the top bar.</p>
{% endblock content %}
