<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Bounce Back Kids Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
  </head>
  <body>
     <div id = "content">
      <img src = "/static/images/homelogo.png" id="logo"><br/>
      Welcome to BounceBack Kids!<br/>
      <a href = "/login/">Login</a><br/>
      <a href = "/volunteer_signup/">Sign up</a>
     </div>
  </body>
</html>
