{% extends 'base.html' %}
{% block title %}BounceBack Kids Log In{% endblock %}
{% block content %}
    <form method="POST">
      {% if message %}
      <p>{{message}}</p>
      {% endif %}
      <p>
        <label for="email">Email: </label><input type="text" name="email" /><br />
        <label for="password">Password: </label><input type="password" name="password" /><br />
        <input type="submit" value="Log In" />
      </p>
		</form>
		<p>If you have forgotten your password <a href="{{reverse('bbk.views.password_reset')}}">go here</a> to reset it.</p>
		<p>If you are not a volunteer, <a href="{{reverse('bbk.views.volunteer_signup')}}">Sign Up!</a></p>
{% endblock %}
