{% extends "base.html" %}
{% block title %}Bounce Back Kids Admin{% endblock %}
{%- block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
		<script type="text/javascript">
			function set_list(list, url) {
				//grey list
				new Ajax.Request(url,{ 
					"method":"get",
          onSuccess: function(transport) {
            try{
						list.innerHTML = "";
						vols = transport.responseXML.documentElement;
            for (var i=0; i<vols.children.length; i++) {
              var vol = vols.children[i];
              var li = document.createElement('li');
              var a = document.createElement('a');
              a.setAttribute("href", "/volunteer/" + vol.getAttribute("volunteer_id") + "/");
              a.innerHTML = vol.getAttribute("first_name") + " " + vol.getAttribute("last_name");
              li.appendChild(a);
							list.appendChild(li);
            }
            }catch (e) {console.log(e);}
					},
					onFailure: function() {console.log("Fail");},
				});
			}

			function make_tab(text) {
				var tab = document.createElement('div');
				tab.className = "tab";
				tab.innerHTML = text;
				return tab;
			}

      document.observe("dom:loaded", function() {
          var all_url = "/volunteers/all/";
          var active_url = "/volunteers/active/";
          var pending_url = "/volunteers/pending/";

					var body = $('app');
					var tabs = document.createElement('div');
					var list = document.createElement('ul');
					body.appendChild(tabs);
					body.appendChild(list);
					/* Make tabs */
          var div_all = make_tab("All");
          div_all.observe('click', function(evt) {set_list(list, all_url);});
          var div_active = make_tab("Active");
          div_active.observe('click', function(evt) {set_list(list, active_url);});
          var div_pending = make_tab("Pending");
          div_pending.observe('click', function(evt) {set_list(list, pending_url);});

					tabs.appendChild(div_all);
					tabs.appendChild(div_active);
					tabs.appendChild(div_pending);

					set_list(list, all_url);
			});
    </script>
{%- endblock %}
{%- block content %}
		<div id="app">
		</div>
{%- endblock %}
