{% extends "base.html" %}
{% block title %}Bounce Back Kids Volunteer Admin{% endblock %}
{% block content %}
  <h4>{{volunteer.first_name}} {{volunteer.last_name}}</h4>
  <form method="POST">
  <ul>
    <li><label>Email: <input type="text" name="email" value="{{ volunteer.email|e }}" /></label></li>
    <li><label>Status: <select name="status">
    {%- for opt in ["pending","active","coordinator","admin"] %}
    <option{{' selected="selected"' if opt==volunteer.status else ''}}>{{ opt|e }}</option>
    {%- endfor %}
    </select></label></li>
    <li>
      <input type ="checkbox" name = "user_checklist" value = "References"
        {% if checklist.references %}
	{{"checked"}}
	{% endif %} 
      />References<br/>
      <input type ="checkbox" name = "user_checklist" value = "Confidential Form" 
        {% if checklist.confidential_form %}
	{{"checked"}}
	{% endif %}  
      />Confidential Form<br/>
      <input type ="checkbox" name = "user_checklist" value = "Background Check"
        {% if checklist.background_check %}
	{{"checked"}}
	{% endif %} 
      />Background Check<br/>
      <input type ="checkbox" name = "user_checklist" value = "Vaccines"
        {% if checklist.vaccines %}
	{{"checked"}}
	{% endif %} 
      />Vaccines
    </li>
    <li><a href="{{application_url}}">Application</a>
    </ul>
  <p><input type="submit" name="submit" value="Save" /><input type="submit" name="submit" value="Return To List" /></p>
  </form>
{%- endblock %}
