{% extends 'base.html' %}
{% block title %}BounceBack Kids - Volunteer Signup{% endblock %}
{% block content %}
		<form method="POST">
			<p>
      <label>First Name: <input type="text" name="first_name" value="{{volunteer.first_name|e}}" /></label><br />
      <label>Last Name: <input type="text" name="last_name" value="{{volunteer.last_name|e}}" /></label><br />
      <label>Email: <input type="text" name="email" value="{{volunteer.email|e}}" /></label><br />
      <label>Phone: <input type="text" name="phone" value="{{volunteer.phone|e}}" /></label><br />
      <label>Password: <input type="password" name="pwd1" /></label>
      <label>Confirm Password: <input type="password" name="pwd2" /></label>
			<input type="submit" value="Sign Up!" />
			</p>
		</form>
{% endblock %}
